<div class="">
  <h2><center><b><i>New User<i/><b/></center></h2>
</div>
<div class="row marketing", ng-controller="UserCtrl">
  <div>  	
  	 	<form ng-submit="newUser()">
  		<label for="form-control">Username</label><br/>
      <input type="text" id="username" class="form-control" placeholder="Username" ng-model="username" required><br/>
    	<label for="form-control">Firstname</label><br/>
      <input type="text" id="firsname" class="form-control" placeholder="Firstname" ng-model="firsname" required><br/>
      <label for="form-control">Password</label><br/>
      <input type="text" id="password" class="form-control" placeholder="Password" ng-model="password" required><br/>
      <button type="submit" class="btn btn-primary glyphicon glyphicon-floppy-disk"></button>
      <a ng-href="#/login" class="btn btn-primary glyphicon glyphicon-remove"></a>
  	</form>
  </div>
</div>
